# fly.toml app configuration file generated for full-stack-open-pokedex-dawn-flower-7626 on 2025-12-22T13:07:24Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'full-stack-open-pokedex-dawn-flower-7626'
primary_region = 'lhr'

[deploy]
  strategy = "canary"

[env]
  PORT = "5000"

[processes]
  app = "node app.js"

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  [[http_service.checks]]
    interval = "10s"
    timeout = "2s"
    path = "/health"

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024