name: Health check

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  health_check:
    runs-on: ubuntu-22.04
    steps:
      - name: Ping server
        uses: jtalk/url-health-check-action@v4
        with:
          url: https://full-stack-open-pokedex-dawn-flower-7626.fly.dev/health